/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 2rem;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #4cb5ab;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #48a69f;
  }
  
  #mealPlan {
    margin-top: 2rem;
  }
  
  .meal {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  